{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <!--author-->
    <section class="section author full-space mb-40 pt-55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--widget-author-->
                    <div class="widget-author inner-width">
                        <a href="author.html" class="image">
                            <img src="{{author.avatar.url}}" alt="">
                        </a>
                        <h6><span>Hi, I'm {{author.name}}</span></h6>
                        <div class="link">{{post_count}} Articles</div>
                        <p> {{author.bio}}
                        </p>
                        
                        <div class="social-media">
                            <ul class="list-inline">
                                <li>
                                    <a href="#" class="color-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="color-pinterest">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!--mansory-layout-->
    <section class="masonry-layout col2-layout mt-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--cards-->
                    <div class="card-columns">
                        <!--Post-1-->
                        {% for post in posts %}
                        <div class="card">
                            <div class="post-card post-full">
                                <div class="post-card-image">
                                    <a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}" alt=""></a>
                                </div>
                                <div class="post-card-content">
                                    <a href="{{post.get_absolute_url}}" class="categorie">{{post.category}}</a>
                                    <h5>
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </h5>
                                    <p>{{post.overview | truncatewords_html:15|safe}}
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">
                                                    <img src="{{post.author.avatar.url}}" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">{{post.author.name}}</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li>{{post.publish | date}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        {% endfor %}

        
                    </div>
        
                    <!--pagination-->
                    <div class="pagination mt-30">
                        <ul class="list-inline">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="arrow_carrot-2right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/-->
                </div>
               
            </div>
        </div>
    </section>
    <!--/-->

    {% include 'newsletter.html' %}
    
{% endblock content %}
