{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <!--author-->
    <section class="section author full-space mb-40 pt-55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--widget-author-->
                    <div class="widget-author inner-width">
                        <a href="{% url 'blog:author' author.user.username%}" class="image">
                            <img src="{{author.avatar.url}}" alt="">
                        </a>
                        <h6><span>Hi, I'm {{author.full_name}}</span></h6>
                        <div class="link">{{post_count}} Articles</div>
                        <p> {{author.bio}}
                        </p>
                        
                        <div class="social-media">
                            <ul class="list-inline">
                                <li>
                                    <a href="{{ author.facebook_url }}" class="color-facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ author.instagram_url }}" class="color-instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ author.twitter_url }}" class="color-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ author.linkedin_url }}" class="color-linkedin">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!--mansory-layout-->
    <section class="masonry-layout col2-layout mt-30">
        {% if posts %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--cards-->
                    <div class="card-columns">
                        <!--Post-1-->
                        {% for post in posts %}
                        <div class="card">
                            <div class="post-card post-full">
                                <div class="post-card-image">
                                    <a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}" alt=""></a>
                                </div>
                                <div class="post-card-content">
                                    <a href="{{post.get_absolute_url}}" class="categorie">{{post.category}}</a>
                                    <h5>
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </h5>
                                    <p>{{post.overview | truncatewords_html:15|safe}}
                                    </p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">
                                                    <img src="{{post.author.avatar.url}}" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">{{post.author.full_name}}</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li><span class="fa fa-calendar-alt pr-2"></span>{{post.publish | date}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        {% endfor %}

        
                    </div>
        
                    <!--pagination-->
                    <div class="col-lg-12">
                        <div class="pagination mt--10">
                            
                            {% if posts.has_other_pages %}
                            <ul class="list-inline">
                                {% if posts.has_previous %}
                                <li>
                                    <a href="?page={{posts.previous_page_number}}">
                                        <i class="arrow_carrot-2left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                    <li class="active">
                                        <a href="">{{i}}</a>
                                    </li>
                                    {% else %}
                                    <li class="">
                                        <a href="?page={{i}}">{{i}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                <li>
                                    <a href="?page={{posts.next_page_number}}">
                                        <i class="arrow_carrot-2right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    <!--/-->
                </div>
               
            </div>
        </div>
        {% else %}
            <div class="text-center mb-5">
                <h1 class="">No Post Found.</h1>
            </div>
            
        {% endif %}
    </section>
    <!--/-->

    {% include 'newsletter.html' %}
    
{% endblock content %}
