{% extends 'base.html' %}
{% block title %} Blog | VirTips{% endblock title %}

{% load blog_tags %}
{% load static %}
{% block content %}

    <!--category-->
    <section class="categorie-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="categorie-title"> 
                         <small>
                            <a href="/">Home</a>
                            <span class="arrow_carrot-right"></span> Blog
                        </small>
                        {% if 'search' in request.path %}
                        <h3>Search <span>Results:</span></h3>
                        {% else %}
                        <!-- <h3>Category : <span> Travel</span></h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Incidunt quae explicabo, ducimus necessitatibus eum aut enim modi
                            saepe perspiciatis fugit
                        </p> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--blog-grid-->
    <section class="blog-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mt-30">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--Post-1-->
                            {% if posts %}
                            {% for post in posts %}
                            <div class="post-card" data-aos="fade-right" data-aos-duration="3000">
                                <div class="post-card-image">
                                    <a href="{{post.get_absolute_url}}">
                                        <img src="{{post.thumbnail.url}}" alt="">
                                    </a>
                                </div>
                                <div class="post-card-content">
                                    <a href="{{post.category.get_absolute_url}}" class="categorie">{{post.category}}</a>
                                    <h5>
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </h5>
                                    <p>{{post.overview | truncatewords_html:30|safe | linebreaks }}</p>
                                    <div class="post-card-info">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">
                                                    <img src="{{post.author.avatar.url}}" alt="">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'blog:author' post.author.user.username%}">{{post.author.full_name}}</a>
                                            </li>
                                            <li class="dot"></li>
                                            <li><span class="fa fa-calendar-alt pr-2"></span>{{post.publish | date}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="text-center">
                                <h2>No <span style="color: #4cb69f;">post</span> Found</h2>
                            </div>
                            {% endif %}
                            <!--/-->
                        </div>
                       

                        <!--pagination-->
                        <div class="col-lg-12">
                            <div class="pagination mt--10">
                                
                                {% if posts.has_other_pages %}
                                <ul class="list-inline">
                                    {% if posts.has_previous %}
                                    <li>
                                        <a href="?page={{posts.previous_page_number}}">
                                            <i class="arrow_carrot-2left"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in posts.paginator.page_range %}
                                        {% if posts.number == i %}
                                        <li class="active">
                                            <a href="">{{i}}</a>
                                        </li>
                                        {% else %}
                                        <li class="">
                                            <a href="?page={{i}}">{{i}}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                    <li>
                                        <a href="?page={{posts.next_page_number}}">
                                            <i class="arrow_carrot-2right"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        <!--/-->
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 max-width">
                    <!--widget-popular-posts-->
                    {% get_most_viewed_posts as most_viewed_posts %}
                    {% if most_viewed_posts %}
                    <div class="widget " data-aos="fade-up" data-aos-duration="3000">
                        <div class="section-title">
                            <h5>Popural Posts</h5>
                        </div>
                        <ul class="widget-latest-posts">
                            {% for post in most_viewed_posts %}
                            <li class="last-post">
                                <div class="image">
                                    <a href="{{post.get_absolute_url}}">
                                        <img src="{{post.thumbnail.url}}" alt="...">
                                    </a>
                                </div>
                                <div class="nb">{{forloop.counter }}</div>
                                <div class="content">
                                    <p>
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </p>
                                    <small>
                                        <span class="icon_clock_alt"></span>{{post.publish | date}}</small>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <!--/-->
                    
                    <!--widget-categories-->
                    {% if links %}
                    <div class="widget" data-aos="fade-up" data-aos-duration="3000">
                        <div class="section-title">
                            <h5>Categories</h5>
                        </div>
                        <ul class="widget-categories">
                            {% for category in links %}
                            <li>
                                <a href="{{category.get_absolute_url}}" class="categorie">{{category.category_name}}</a>
                                <span class="ml-auto">{{category.category_post_count}} Posts</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    
                    <!--widget-tags-->
                    <div class="widget" data-aos="fade-up" data-aos-duration="3000">
                        <div class="section-title">
                            <h5>Tags</h5>
                        </div>

                        <div class="widget-tags">
                            <ul class="list-inline">
                                {% for tag in tags.all %}
                                <li>
                                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{tag}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!--/-->
                    
                </div>
            </div>
        </div>
    </section><!--/-->

    <!--newslettre-->
    {% include 'newsletter.html' %}
    
{% endblock content %}