{% load active_link_tags %}
{% load static %}

<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'img/favicon.ico' %}">

    <!-- Title -->
    <title> 
    {% block title %}
        VirTips
    {% endblock title %}
    </title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">

    <!-- Manifest File -->
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/elegant-font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'oas/dist/aos.css' %}">

    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
    <!--loading -->
    <div class="loading">
        <div class="circle"></div>
    </div>
    <!--/-->

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!--logo-->
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/logo-dark.png' %}" alt="Virtips logo" class="logo-dark">
                    <img src="{% static 'img/logo-white.png' %}" alt="Virtips logo" class="logo-white">
                </a>
            </div>
            <!--/-->
    
            <!--navbar-collapse-->
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto mr-auto">
                <!--  THIS NEED TO BE FIXED -->
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'home' 'active' %}" href="{% url 'home' %}"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'blog:post_list || blog:post_by_category' 'active'%}" href="{% url 'blog:post_list' %}"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'about' 'active' %}" href="{% url 'about' %}"> About </a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link {% active_link 'contact' 'active' %}" href="{% url 'contact' %}"> Contact </a>
                    </li> {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'dashboard' 'active' %}" href="{% url 'dashboard:dashboard' %}"> Dashboard </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'login' 'active' %}" href="{% url 'login' %}?next={{request.path}}"> Login </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--/-->
    
            <!--navbar-right-->
            <div class="navbar-right ml-auto">
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                    </label>
                </div>

                <div class="social-icones">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="search-icon">
                    <i class="icon_search"></i>
                </div>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <!--/-->

    
{% block content %}
    
{% endblock content %}
        
    <!--footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <p><a href="/">VirTips</a> © 
                            <script type="text/javascript">document.write(new Date().getFullYear());</script>.
                            Made with <i class='fa fa-heart text-danger'></i> by <a href="https://github.com/ibby360" target="_blank">Ibby360</a> 
                        </p>
                    </div>
                    <div class="back">
                        <a href="#" class="back-top">
                            <i class="arrow_up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  
    <!--Search-form-->
    <div class="search">
        <div class="container-fluid">
            <div class="search-width  text-center">
                <button type="button" class="close">
                    <i class="icon_close"></i>
                </button>
                <form class="search-form" action="{% url 'blog:search' %}" method="GET">
                    <input type="text" name="q" value="" placeholder="What are you looking for?" required>
                    <button type="submit" class="search-btn">search</button>
                </form>
            </div>
        </div>
    </div>
    <!--/-->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins  -->
    <script src="{% static 'js/ajax-contact.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/switch.js' %}"></script>

    <!-- JS main  -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- AOS Scroll -->
    <script src="{% static 'oas/dist/aos.js' %}"></script>

    <script>
        AOS.init({
            easing: 'ease-out-back',   
            // duration: 800,   
            delay: 300,   
            // once: true,   
            disable: 'mobile'
        });
    </script>


</body>
</html>