{% extends 'base.html' %}
{% block content %}
    
    <!--Page404-->
    <section class="section pt-55 mb-50">
        <div class="container-fluid">
            <div class="page404  widget">
                <div class="image">
                    <img src="static/img/500.svg" alt="">
                </div>
                <div class="content">
                    <h3>There was an error</h3>
                    <p>Please try again later. That's all we know.</p>
                    <a href="/" class="btn-custom">Go back to Home</a>
                </div>
            </div>
        </div>
    </section>        

{% endblock %}
