{% extends 'base.html' %}
{% block title %}Forgot Password | VirTips {% endblock title %}
{% block content %}

    <!--Forgot Password-->
    <section class="section pt-55 mb-50 pb-55">

        <div class="container">
            <div class="sign widget ">
                <div class="section-title">
                    <h5>Forgot Password</h5>
                </div>
                {% include 'alert.html' %}
                <form  action="{% url 'forgot_password' %}" class="sign-form widget-form " method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email*" name="email" value="">
                    </div>

                    <div class="sign-controls form-group">
                        <a href="{% url 'login' %}" class="btn-link  ml-auto">Got a Password? Login</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-custom">Submit</button>
                    </div>
                    
                    <p class="form-group text-center">Don't have an account? <a href="{% url 'register' %}" class="btn-link">Create One</a> </p>
                    
                </form>
            </div> 
        </div>
    </section>  
    

{% endblock content %}