{% extends 'base.html' %}
{% block title %}Register | VirTips {% endblock title %}
{% block content %}

    <!--register-->
    <section class="section pt-55 mb-50">
        <div class="container-fluid">
            <div class="sign widget">
                <div class="section-title">
                    <h5>Sign up</h5>
                </div>
                
                {% include 'alert.html' %}
                <form  class="sign-form widget-form contact_form " action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password }}
                        {{ form.confirm_password.errors }}
                    </div>
                    <!-- <div class="sign-controls form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                            <label class="custom-control-label" for="rememberMe">Agree to our <a href="#" class="btn-link">terms & conditions</a> </label>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <button type="submit" value="submit" class="btn-custom">Sign Up</button>
                    </div>
                    <p class="form-group text-center">Already have an account? <a href="{% url 'login' %}" class="btn-link">Login</a> </p>
                </form>
            </div> 
               
           
        </div>
    </section>       

{% endblock content %}