{% extends 'base.html' %}
{% block title %}Reset Password | VirTips {% endblock title %}
{% block content %}

    <!--Forgot Password-->
    <section class="section pt-55 mb-50 pb-55">

        <div class="container">
            <div class="sign widget ">
                <div class="section-title">
                    <h5>Reset Password</h5>
                </div>
                {% include 'alert.html' %}
                <form  action="{% url 'reset_password' %}" class="sign-form widget-form " method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password*" name="password" value="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password*" name="confirm_password" value="">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-custom">Submit</button>
                    </div>
                    
                    <p class="form-group text-center">Don't have an account? <a href="{% url 'register' %}" class="btn-link">Create One</a> </p>
                    
                </form>
            </div> 
        </div>
    </section>  
    

{% endblock content %}