{% extends "dashboard/layouts/base.html" %}

{% block title %} {{post.title}} {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


		<main class="content">
			{% include 'dashboard/includes/navigation.html' %}

			<!-- Add Button -->
			<div class="row mt-4 mb-3">
				<div class="col-6 d-flex justify-content-between">
					<div class="me-lg-3">
						<div class="dropdown">
							<button class="btn btn-secondary d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="icon icon-xs me-2">
									<i class="fas fa-plus"></i>
								</span>
								Add New..
							</button>
							<div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
									<a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard:article-create' %}">
										<span class="dropdown-icon text-gray-400 me-2 ">
											<i class="fas fa-feather-alt"></i>
										</span>
										Add Article
									</a>
									<a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard:add-category' %}">
										<span class="dropdown-icon text-gray-400 me-2 ">
											<i class="fas fa-layer-group"></i>
										</span>
										Add Category
									</a>
								</div>
							</div>
					</div>
				</div>
				<div class="col-6 text-end">
					<div class="btn-group">
						<a href="{{post.get_absolute_url}}" class="btn btn-gray-800">
							<span class="text-white">
								<i class="pe-2 fab fa-telegram-plane"></i>
								Visit Website
							</span>
						</a> 
						
					</div>
				</div>
			</div>
			<!-- xxxxxxxxxxxx -->

			<div class="container">
				{% include 'dashboard/includes/alert.html' %}
				<div class="card border-0 shadow mx-auto my-4">
					<div class="card-body">
						<div class="px-4 py-4">
							<img src="{{post.thumbnail.url}}" alt="" id="article-thumbnail">

							<!-- Article stats -->
							<div class="d-block d-flex align-items-center py-4 px-md-3">
								<small data-bs-toggle="tooltip" data-bs-placement="top" title="{{post.publish}}">
									<span><i class="fas fa-calendar-alt"></i> </span>
									{{ post.publish | date:'M d' }}
								</small>
								<span class="dot"></span>
								<small data-bs-toggle="tooltip" data-bs-placement="top" title="Views">
									<span><i class="fas fa-eye"></i>
									</span> {{ post.views }} <span class="stat-text">View{{post.views | pluralize}}</span>
								</small>
								<span class="dot"></span>
								<small data-bs-toggle="tooltip" data-bs-placement="top" title="Comments">
									<span>
										<i class="fas fa-comments"></i>
									</span> 
									{{post.comments.count}} <span class="stat-text">Comment{{post.comments | pluralize}}</span>
								</small>
								<span class="dot"></span>
								<small class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Update or Delete Article">
									<span class="d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-chevron-down" ></i>
									</span>
									<div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
										<a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard:edit-post' post.slug %}">
											<span class="dropdown-icon text-gray-400 me-2 ">
												<i class="fas fa-feather-alt"></i>
											</span>
										 Edit Article
										</a>
										<a class="dropdown-item d-flex align-items-center" href="{% url 'dashboard:delete-post' post.slug %}">
											<span class="dropdown-icon text-gray-400 me-2 ">
												<i class="fas fa-trash-alt"></i>
											</span>
											 Delete Article
										</a>
									</div>
								</small>
							</div>
							<!-- xxxxxxxxxxxxxxxxxxxxx -->

							<!-- Article Contents -->
							<h3 class="text-center">{{post.title}}</h3>
							<p class="px-md-3">
								{{post.body | safe}}
							</p>

							<div class="social-media px-md-3">
								<ul class="list-inline">
									<li>
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="color-facebook">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" class="color-whatsapp">
											<i class="fab fa-whatsapp"></i>
										</a>
									</li>
									<li>
										<a href="http://twitter.com/share?text={{ article.title }}. &url={{ request.build_absolute_uri }}" target="_blank" class="color-twitter">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{ article.title }}" target="_blank" class="color-telegram">
											<i class="fab fa-telegram-plane"></i>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>

        </main>
{% endblock content %}