{% extends "dashboard/layouts/base.html" %}

{% block title %} Update {{ post.title }} {% endblock %} 
{% load static %}
<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}
{% block javascript %}
	{{ block.super }}
        <script type="text/javascript" src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock javascript %}

{% block content %}


		<main class="content">
			{% include 'dashboard/includes/navigation.html' %}

            <!-- Article Form -->
            <section class="py-5">
                {% include 'dashboard/includes/alert.html' %}
				<div class="pb-2">
					<h4>Update Article</h4>
				</div>
                <div class="card border-0 shadow mx-auto">
                    <div class="card-body mt-2">
                        <div class="mx-3">
                            <form action="{% url 'dashboard:edit-post' post.slug %}" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{form.media}}
                                <div class="row g-3">
                                    <div class="my-2 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                                        {{ form.title }}
                                        <div class="pt-2 text-danger">
											{{ form.title.errors }}
										</div>
                                    </div>
                                    <div class="my-2 col-md-6">
                                        <label class="my-1 me-2" for="state">Category</label>
                                        {{ form.category }}
                                        <div class="pt-2 text-danger">
											{{ form.category.errors }}
										</div>
                                    </div>
                                    <div class="my-2 col-md-6">
                                        <label for="tags" class="form-label">Tags</label>
                                        <input type="text" class="form-control" name="tags" id="tags" 
                                        value="{% for tag in post.tags.all %}{{ tag }}, {% endfor %}" placeholder="Example: sports, game, politics"
                                        data-role="tagsinput">
                                    </div>
                                    <div class="my-2 col-md-6">
                                        <label for="formFile" class="form-label">Thumbnail</label>
                                        <small>
                                            <a href="{{ post.thumbnail.url }}" class="disabled small">{{ post.thumbnail.url }}</a>
                                        </small>
                                        {{ form.thumbnail }}
                                    </div>
                                    <div class="my-2 col-md-12">
                                        <label for="textarea">Article Overview</label>
                                        {{ form.overview }}
                                    </div>
                                    <div class="my-2 col-md-12">
                                        <label for="textarea">Content</label>
                                        {{ form.body }}
                                    </div>
									<div class="my-2 col-md-12">
                                        <label class="my-1 me-2" for="state">Status</label>
                                        {{ form.status }}
                                    </div>
                                    <div class="my-2 col-md-12">
                                        <div class="form-check">
                                            <label class="form-check-label" for="defaultCheck10">Featured</label>
                                            {{ form.featured }}
                                        </div>
                                    </div>
									<div class="input-group float-start">
										<div class="my-2 pe-2">
											<a class="btn btn-danger" href="{% url 'dashboard:published-articles' %}">CANCEL</a>
											<button class="btn btn-success" type="submit">SAVE</button>
										</div>
									</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
                
        </main>
{% endblock content %}  